
<h1 class="centered-text">Find people to help in your neighborhood!</h1>

<section class="two-column-secction">
    <div class="place-box">
        <form method="GET">
            <div class="form-wrapper">
                <label for="input-city-main">City</label>
                <input type="search" id="input-city-main" name="cityMain">

            </div>

            <div class="form-wrapper">
                <label for="input-zip-main">Zip code</label>
                <input type="search" id="input-zip-main" name="zipMain">

            </div>
            
            <div class="form-wrapper">
                <button class ="btn-form">Go!</button>
            </div>
        </form>
    </div>

    <div id="map-main"></div>
</section>
<script>
    const inputLatitude = {{{ json inputLatitude }}};
    const inputLangitude = {{{ json inputLangitude }}};
    let mymap = L.map('map-main').setView([inputLatitude, inputLangitude], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiaHRlcmF5YW1hIiwiYSI6ImNrbDNrdjV3MzA1ZzQybm13M21mbTR5N2cifQ.gZ60R1xrxGDUUqeDlF-tpg'
    }).addTo(mymap);

    const lists = {{{ json lists }}};

    for (let list of lists) {
        var circle = L.circle([list.creator.lat, list.creator.lng], {
            color: '#f03',
            fillColor: '#f03',
            fillOpacity: 0.4,
            radius: 200
        }).addTo(mymap);
        var popup = circle.bindPopup(`<p><b>${list.storeName}</b> <a href="/shoplist/${list._id}">Check the list</a></p>`);

        mymap.on('click', popup);
    }
</script>


{{#each lists}}
<a href="/shopList/{{_id}}">

    <h1>{{ storeName }}</h1>
    <p>{{ itemsNeeded }}</p>
    <p>Created by <a href="/user/{{ creator._id }}">{{ creator.name }}</a> on {{{ date creationDate
        "DD/MM/YYYY"
        }}} at {{{ date creationDate "HH:mm" }}}</p>
    <p>Zip code: {{ creator.addressZip }}</p>
    <p>Status: <span>{{ status }}</span></p>
</a>
{{/each}}