<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>UnQ Me {{#if title}}- {{title}}{{/if}}</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
</head>

<body>
  <nav>
    <a href="/">Home</a>
    {{#if user}}
    <span>Hello, {{ user.name }}</span>
    <a href="/user/{{ user._id }}">My profile</a>
    <a href="/shopList/create">Create a shopping list</a>

    <form action="/authentication/log-out" method="POST">
      <button>Log Out</button>
    </form>

    {{else}}
    <a href="/authentication/log-in">Log In</a>
    <a href="/authentication/sign-up">Sign Up</a>
    {{/if}}
  </nav>
  {{{body}}}
  <script src="/scripts/script.js"></script>
</body>

</html>