<h1>{{ profileUser.name }}'s profile</h1>


<img src="{{ profileUser.profilePicture }}" alt="{{ profileUser.name }}">





{{#if isVisitor}}
<a href="/message/{{profileUser._id}}">Message {{ profileUser.name }}</a>
{{else}}
{{#if postedLists}}
<h3>You posted these shopping lists</h3>
{{#each postedLists}}
<h4>{{ storeName }}</h4>
<p>{{ itemsNeeded }}</p>
<p>Created on {{{ date creationDate "DD/MM/YYYY"}}} at {{{ date creationDate "HH:mm" }}}</p>
<p>Status: {{ status }}</p>
{{/each}}
{{/if}}

{{#if helpingLists}}
<h3>You offered to help for these lists.</h3>
{{#each postedLists}}
<h4>{{ storeName }}</h4>
<p>{{ itemsNeeded }}</p>
<p>Created on {{{ date creationDate "DD/MM/YYYY"}}} at {{{ date creationDate "HH:mm" }}}</p>
<p>Checkout the <a href="/shoplist/{{ _id }}">shopping list</a></p>
{{/each}}
{{/if}}
<p class="centered-text"><a href="/user/{{ profileUser._id }}/edit">Edit your profile</a></p>
<form action="/user/{{ user._id }}/delete" method="POST">
    <button class="btn-form">Delete your profile</button>
</form>


{{/if }}