<h1 class="section-title centered-text">{{ profileUser.name }}'s profile</h1>

<section class="two-column-secction">
    <img class="profile-picture" src="{{ profileUser.profilePicture }}" alt="{{ profileUser.name }}">
    <div>
        {{#if isVisitor}}
        <a class="centered-text btn-form" href="/message/{{profileUser._id}}">Message {{ profileUser.name }}</a>
        {{else}}
        <p>Name: {{profileUser.name}}</p>
        <p>Adress: {{profileUser.addressStreet}} {{profileUser.addressHouseNr}}, {{profileUser.addressZip}}
            {{profileUser.addressCity}}, {{profileUser.addressCountry}} </p>
        <p>Email: {{profileUser.email}} </p>
        <p class="centered-text btn-form"><a href="/user/{{ profileUser._id }}/edit">Edit your profile</a></p>
        {{/if}}
    </div>
</section>






{{#if isVisitor}}

{{else}}
{{#if postedLists}}
<h3 class="section-title centered-text">You posted these shopping lists</h3>
<div class="card-group">
    {{#each postedLists}}
    <a href="/shopList/{{_id}}">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{ storeName }}</h1>
                <article class="card-text">
                    <p>{{ itemsNeeded }}</p>
                    <small>Created by <a class="created-by" href="/user/{{ creator._id }}">{{ creator.name }}</a> on {{{
                        date creationDate
                        "DD/MM/YYYY"
                        }}} at {{{ date creationDate "HH:mm" }}}</small>

                    <div class="status">
                        <p>Status: </p>
                        <span class="status-label status-{{ status }}">{{ status }}</span>
                    </div>
                    <a class="highlight-wide list-btn btn-form centered-text" href="/shopList/{{ list._id }}/edit">Edit
                        the list</a>
                </article>
            </div>
        </div>
    </a>
    {{/each}}
</div>
{{/if}}

{{#if helpingLists}}
<h3 class="section-title centered-text">You offered to help for these lists.</h3>
<div class="card-group">
    {{#each helpingLists}}
    <a href="/shopList/{{_id}}">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{ storeName }}</h1>
                <article class="card-text">
                    <p>{{ itemsNeeded }}</p>
                    <small>Created by <a href="/user/{{ creator._id }}">{{ creator.name }}</a> on {{{ date creationDate
                        "DD/MM/YYYY"
                        }}} at {{{ date creationDate "HH:mm" }}}</small>
                    <p>Checkout the <a href="/shoplist/{{ _id }}">shopping list</a></p>

                </article>
            </div>
        </div>
    </a>
    {{/each}}
</div>
{{/if}}

{{/if }}