<h1 class="section-title centered-text">{{ profileUser.name }}'s profile</h1>

<section class="two-column-secction">
    <img class="profile-picture" src="{{ profileUser.profilePicture }}" alt="{{ profileUser.name }}">
    <div>
        {{#if isVisitor}}
        <p>Name: {{profileUser.name}}</p>
        <p>Description: {{ profileUser.description }}</p>
        <p>Address: {{ profileUser.addressCity }}, {{ profileUser.addressZip }}</p>
        <a class="centered-text btn-form" href="/message/{{profileUser._id}}">Message {{ profileUser.name }}</a>
        {{else}}
        <p>Name: {{profileUser.name}}</p>
        <p>Description: {{ profileUser.description }}</p>
        <p>Address: {{profileUser.addressStreet}} {{profileUser.addressHouseNr}}, {{profileUser.addressZip}}
            {{profileUser.addressCity}}, {{profileUser.addressCountry}} </p>
        <p>Email: {{profileUser.email}} </p>
        <p class="centered-text btn-form"><a href="/user/{{ profileUser._id }}/edit">Edit your profile</a></p>
        <form action="/user/{{profileUser._id}}/delete" method="POST">
            <button class="btn-form delete-btn">Delete profile</button>
        </form>
        {{/if}}
    </div>
</section>






{{#if isVisitor}}

{{else}}
{{#if postedLists}}
<h3 class="section-title centered-text">You posted these shopping lists</h3>
<div class="card-group">
    {{#each postedLists}}
    {{#if active}}
    <a href="/shopList/{{_id}}">
        <div class="card {{storeName}}">
            <div class="card-body">

                {{#if otherName}}
                <h1 class="card-title">{{ otherName }}</h3>
                    {{else}}
                    <h1 class="card-title">{{ storeName }}</h3>
                        {{/if}}
                        <article class="card-text">
                            <p>{{ itemsNeeded }}</p>
                            <small>Created by <a class="created-by message-link" href="/user/{{ creator._id }}">{{
                                    creator.name }}</a> on {{{
                                date creationDate
                                "DD/MM/YYYY"
                                }}} at {{{ date creationDate "HH:mm" }}}</small>

                            <div class="status">
                                <p>Status: </p>
                                <span class="status-label status-{{ status }}">{{ status }}</span>
                            </div>

                        </article>
            </div>
        </div>
    </a>
    {{/if}}
    {{/each}}
</div>
{{/if}}

{{#if helpingLists}}
<h3 class="section-title centered-text">You offered to help for these lists.</h3>
<div class="card-group">
    {{#each helpingLists}}
    <a href="/shopList/{{_id}}">
        <div class="card {{storeName}}">
            <div class="card-body">
                {{#if otherName}}
                <h1 class="card-title">{{ otherName }}</h3>
                    {{else}}
                    <h1 class="card-title">{{ storeName }}</h3>
                        {{/if}}
                        <article class="card-text">
                            <p>{{ itemsNeeded }}</p>
                            <small>Created by <a class="message-link" href="/user/{{ creator._id }}">{{ creator.name
                                    }}</a> on {{{ date creationDate
                                "DD/MM/YYYY"
                                }}} at {{{ date creationDate "HH:mm" }}}</small>
                            <p>Checkout the <a href="/shoplist/{{ _id }}">shopping list</a></p>
                            <div class="status">
                                <p>Status: </p>
                                <span class="status-label status-{{ status }}">{{ status }}</span>
                            </div>

                        </article>
            </div>
        </div>
    </a>
    {{/each}}
</div>
{{/if}}

{{/if }}