<h1>Shopping List details</h1>
<p>Created by <a href="/user/{{ list.creator._id }}">{{ list.creator.name }}</a> on {{{ date creationDate "DD/MM/YYYY"
    }}} at {{{ date creationDate "HH:mm" }}}</p>
<p>Status: <span>{{ list.status }}</span></p>

<div id="map-shopList"></div>

<script>
    const list = {{{ json list }}};

    let mapList = L.map('map-shopList').setView([list.creator.lat, list.creator.lng], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiaHRlcmF5YW1hIiwiYSI6ImNrbDNrdjV3MzA1ZzQybm13M21mbTR5N2cifQ.gZ60R1xrxGDUUqeDlF-tpg'
    }).addTo(mapList);

    let circle = L.circle([list.creator.lat, list.creator.lng], {
        color: '#f03',
        fillColor: '#f03',
        fillOpacity: 0.4,
        radius: 200
    }).addTo(mapList);


</script>


<h3>{{ list.storeName }}</h3>
<h4>{{ list.itemsNeeded }}</h4>

{{#if isVisitor}}

{{#if pending}}
<form action="/shopList/{{list._id}}/changestatus/{{list.status}}" method="POST">
    <button>I can help!</button>
</form>
{{else if offered}}
{{#if helper}}
<p>Waiting for {{ list.creator.name }} to respond</p>
{{else}}
<p>Offer has been made by {{list.helper.name}}</p>
{{/if}}
{{!-- {{else if accepted}}
<p>{{list.creator.name}} accepted your offer!</p>
<a href="/message/{{list.creator._id}}">Message {{list.creator.name}}</a> --}}
{{else if done}}
<p>This list has been taken care of.</p>
{{/if}}

<a href="/message/{{list.creator._id}}">Message {{ list.creator.name }}</a>

{{else}} {{!-- creator --}}
{{#if pending}}
<p>Waiting for someone to help you.</p>
{{else if offered}}
<p>Offer has been made by <a href="/user/{{list.helper._id}}">{{ list.helper.name }}</a></p>
<a href="/message/{{list.helper._id}}">Message {{ list.helper.name }}</a>

<form action="/shopList/{{list._id}}/changestatus/{{list.status}}" method="POST">
    <button>Done!</button>
</form>

{{!-- {{/if}} --}}
{{!-- {{else if accepted}}
<p>{{list.creator.name}} accepted your offer!</p>
<a href="/message/{{list.creator._id}}">Message {{list.creator.name}}</a> --}}
{{else if done}}
<p>This list has been taken care of.</p>
{{/if}}
<a href="/shopList/{{ list._id }}/edit">Edit the list</a>
<form action="/shopList/{{ list._id }}/delete" method="POST">
    <button>Delete the list</button>
</form>
{{/if}}