<h1>Shopping List details</h1>
<p>Created by {{ list.creator.name }} on {{{ date creationDate "DD/MM/YYYY" }}} at {{{ date creationDate "HH:mm" }}}</p>
<p>Status: <span>{{ list.status }}</span></p>

<h3>{{ list.storeName }}</h3>
<h4>{{ list.itemsNeeded }}</h4>

{{#if isVisitor}}
<form action="/shopList/{{list._id}}/changestatus/{{list.status}}" method="POST">
    <button>I can help!</button>
</form>
{{else}}
<a href="/shopList/{{ list._id }}/edit">Edit the list</a>
<form action="/shopList/{{ list._id }}/delete" method="POST">
    <button>Delete the list</button>
</form>
{{/if}}