<h1>{{ list.creator.name }}'s List</h1>
<p>Created </p>
<p>Status: <span>{{ list.status }}</span></p>

<h3>{{ list.storeName }}</h3>
<h4>{{ list.itemsNeeded }}</h4>

{{#if user}}
<a href="/shopList/{{ list._id }}/edit">Edit the list</a>
<form action="/shopList/{{ list._id }}/delete" method="POST">
    <button>Delete the list</button>
</form>
{{else}}
<form action="" method="POST">
    <button>I can help!</button>
</form>
{{/if}}