<h1 class="section-title centered-text">Shopping List details</h1>

<section class="two-column-secction-shoplist">
    <div id="log-in-box">

        <p class="centered-text">Created by <a href="/user/{{ list.creator._id }}">{{ list.creator.name }}</a> on {{{
            date creationDate "DD/MM/YYYY"
            }}} at {{{ date creationDate "HH:mm" }}}</p>
        <p class="centered-text">Status: <span>{{ list.status }}</span></p>

        <h3 class="centered-text">{{ list.storeName }}</h3>
        <h4 class="centered-text">{{ list.itemsNeeded }}</h4>

        {{#if isVisitor}}
        <p class="centered-text">
            <a href="/message/{{list.creator._id}}">Message {{ list.creator.name }}</a>
        </p>

        {{#if pending}}
        <form action="/shopList/{{list._id}}/changestatus/{{list.status}}" method="POST">
            <button class="btn-form list-btn">I can help!</button>
        </form>
        {{else if offered}}
        {{#if helper}}
        <p class="centered-text">Waiting for {{ list.creator.name }} to respond</p>
        {{else}}
        <p class="centered-text">Offer has been made by {{list.helper.name}}</p>
        {{/if}}
        {{!-- {{else if accepted}}
        <p>{{list.creator.name}} accepted your offer!</p>
        <a href="/message/{{list.creator._id}}">Message {{list.creator.name}}</a> --}}
        {{else if done}}
        <p class="centered-text">This list has been taken care of.</p>
        {{/if}}



        {{else}} {{!-- creator --}}

        {{#if pending}}
        <p class="centered-text">Waiting for someone to help you.</p>
        {{else if offered}}
        <p class="centered-text">Offer has been made by <a href="/user/{{list.helper._id}}">{{ list.helper.name }}</a>
        </p>


        <form action="/shopList/{{list._id}}/changestatus/{{list.status}}" method="POST">
            <button class="btn-form list-btn">Done!</button>
        </form>

        {{!-- {{/if}} --}}
        {{!-- {{else if accepted}}
        <p>{{list.creator.name}} accepted your offer!</p>
        <a href="/message/{{list.creator._id}}">Message {{list.creator.name}}</a> --}}
        {{else if done}}
        <img src="/images/checkmark-clipart-2-transparent.png" alt="check-mark" />
        <p class="centered-text">This list has been taken care of.</p>
        {{/if}}
        <a class="highlight-wide list-btn btn-form centered-text" href="/shopList/{{ list._id }}/edit">Edit the list</a>
        <form action="/shopList/{{ list._id }}/delete" method="POST">
            <button class="btn-form delete-btn">Delete the list</button>
        </form>
        {{/if}}



    </div>

    <div id="map-shopList"></div>

</section>


<script>
    const list = {{{ json list }}};

    let mapList = L.map('map-shopList').setView([list.creator.lat, list.creator.lng], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiaHRlcmF5YW1hIiwiYSI6ImNrbDNrdjV3MzA1ZzQybm13M21mbTR5N2cifQ.gZ60R1xrxGDUUqeDlF-tpg'
    }).addTo(mapList);

    let circle = L.circle([list.creator.lat, list.creator.lng], {
        color: '#f03',
        fillColor: '#f03',
        fillOpacity: 0.4,
        radius: 200
    }).addTo(mapList);


</script>



<section>

</section>